# Auth.js Secrets
# You can generate one via `npx auth secret`
AUTH_SECRET=

# NextAuth URL
# Local: http://localhost:3000
# Production: https://your-domain.com
AUTH_URL=https://localhost:3000

# Moring SSO Credentials
SSO_ISSUER=https://sso.moring.co
SSO_CLIENT_ID=your_client_id_here
SSO_CLIENT_SECRET=your_client_secret_here